<!-- Look the author details up from the site config. -->
{% assign author = site.data.authors[page.author] %}

<!-- Output author details if some exist. -->
{% if author %}
<div style="text-align: right;">
    <cite>
        <!-- Personal Info. -->
        Written by {{ author.name }}{% if author.company %}, <a href="{{ author.web }}">{{ author.company }}</a>{% endif %}
    </cite>
</div>
{% endif %}
